
  @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Kumbh+Sans:wght@400;700&family=Manrope:wght@800&family=Poppins:wght@100;300;400;500;800&family=Public+Sans:wght@400;800&display=swap');


body{
    background-color: var(--background-color);
    font-family: var(--font-family);
}

header{
    display: flex;
    justify-content: space-between;
    padding: 48px;
}

header .logo{
    display: flex;
    align-items: center;
    height: 100%;
}

header .menu{
    display: flex;
    align-items: center;
    height: 100%;
}

.logo h1{
    font-size: 20px;
    color: var(--text-color);
}

.menu li{
    padding-left: 18px;
}

.menu li a{
    font-size: 15px;
    color: var(--text-color);
    padding: 11px 6px;
    transition: 0.1s;
}

.menu a:hover{
    background-color: var(--button-color);
    color: var(--text-button-color);  
}

.menu .btn{
    background-color: var(--button-color);
    color: var(--text-button-color);
    border-radius: 10px;
    padding: 10px 20px;
}
